body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #0066cc;
}

.ramo {
  background-color: #ffc0cb; /* rosado */
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.ramo.aprobado {
  background-color: #fff9b0
; /* amarillo pastel */
  text-decoration: line-through;
}

.ramo.bloqueado {
  background-color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
}
